.contentWrapper {
  display: block;
  margin-inline: auto;
  max-width: 46rem;
  margin-top: -1.652rem;
}
.sectionWrapper {
  margin-block: 3.6rem;
}
.taskList {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}